DJANGO_DEBUG=true
DJANGO_SECRET_KEY=replace-with-a-long-random-secret-before-deploying
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_CORS_ALLOWED_ORIGINS=
SQLITE_PATH=
WALLET_BTC_ADDRESS=13dayj1fJLNj2ZasMD7k41ZDMYYYh1oeNg
WALLET_ETH_ADDRESS=0x7b19c10148b025a8702f7e6449b75d72256955ac
WALLET_USDT_TRC20_ADDRESS=TCCp1aDPrtJupeFdYWwWAJnBCXgryCMmhj
ORDER_RESERVATION_MINUTES=30
